$primary: #34495e;
$white: #fff;
$black: #000;
$yellow: #f1c40f;
$grey: #b2b2b2;
$dark-grey: #333;
$black-3: rgba(0, 0, 0, .3);
$font-size-lg: 18px;
$bg-color: #E5E5F7;
$secondary-bg-color: #d5d5d5;

$lg: 1200;
$md: 992px;
$sm: 768px;
$x-sm: 368px;


/* ---------------------------------- BASE ---------------------------------- */
.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
  flex-flow: row wrap;
}

.d-flex-nw {
  display: flex;
  flex-flow: row nowrap;
}

.d-end {
  display: flex;
  justify-content: flex-end;
}

.d-between {
  display: flex;
  place-content: space-between;
}

.d-none {
  display: none;
}

.d-block-resp {
  display: none !important;

  @media (max-width: $md) {
    display: block !important;
  }
}

.d-custom-001 {
  position: absolute;
  right: 15px;
  margin: 3px 0px !important;

  @media (max-width: $md) {
    position: relative;
    right: auto;
    margin: 15px !important;
  }
}

.f-nw {
  flex-flow: row wrap
}

.a-center {
  align-self: center;
  align-items: center;
}

.mr-1 {
  margin-right: 10px;
}

.ml-1 {
  margin-left: 10px;
}

.ma-1 {
  margin: 10px;
}

.ma-2 {
  margin: 15px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 15px !important;
}

.mt-2 {
  margin-top: 15px;
}

@media (max-width: $md) {
  .d-none-resp {
    display: none !important;
  }

  .d-line-block {
    display: inline-block;
  }

  .w-100-resp {
    width: 100% !important;
  }

  .ma-1-resp {
    margin: 10px;
  }

  .mb-1-resp {
    margin-bottom: 10px;
  }

  .mt-2-resp {
    margin-top: 15px;
  }

  .mt-3-resp {
    margin-top: 20px;
  }

  .mw-240 {
    max-width: 240px;
  }


}

@media (min-width: $md) {
  .mr-1-desk {
    margin-right: 15px;
  }
}

/* --------------------------------- BOTONES -------------------------------- */
.btn {
  display: block;
  width: 130px;
  height: 45px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 31px;

  &.btn-lg {
    width: 180px;
  }

  &.btn-primary {
    background: $primary;
    border: 2px solid $primary;
    color: $white;
  }

  &.btn-secondary {
    background: $white;
    border: 2px solid $primary;
    color: $primary;
  }

  &:hover {
    @include shadowDefault($grey);
  }

  &:disabled {
    opacity: .6;
    cursor: no-drop;
  }

}

.btn-small {
  width: 50px;
  height: 52px;
  padding: 15px 14px;

  @media (max-width: $md) {
    width: 100%;
    height: 45px;
  }
}

.btn-small.btn-header-clear {
  @media (max-width: $md) {
    margin: 10px 0;
  }
}

.btn-icon {
  background: $primary;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
  color: $white;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    @include shadowDefault($grey);
  }

  @media (max-width: $md) {
    padding: 8px;
  }
}

.btn-clear-contenedor-container {
  position: relative;
  top: 1px;
  margin-left: 15px;

  @media (max-width: $md) {
    margin-left: auto;
    width: 100%;
    text-align: center;
    flex-direction: column-reverse;

    .btn-icon {
      margin: 0;
      margin-bottom: 15px;
    }
  }
}


/* ----------------------------- INPUT Y SELECT ----------------------------- */

.form-group {
  display: flex;
  flex-direction: column;

  label {
    color: $primary;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 3px;
  }

  input,
  select {
    display: block;
    background: $white;
    width: 240px;
    height: 35px;
    padding: 8px 10px;
    outline: none;
    border: 1px solid $grey;
    border-radius: 3px;
    color: $primary;

    @media (max-width: $md) {
      width: 100%;
    }
  }

  .count-number {
    width: 85px;

    @media (max-width: $md) {
      width: 100%;
    }
  }

  .count-number-small {
    width: 60px;

    @media (max-width: $md) {
      width: 100%;
    }
  }

  .input-small {
    width: 130px;

    @media (max-width: $md) {
      width: 100%;
    }
  }

  @media (max-width: $md) {
    width: 100%;
    margin-bottom: 10px;

  }

}

/* ------------------------------ TRANSICIONES ------------------------------ */
/* ---------------------------------- FADE ---------------------------------- */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
  overflow: hidden;
}

.slide-fade-leave-active {
  display: none !important;
}


/* -------------------------------- LIST ITEM ------------------------------- */
.list-item-enter-active,
.list-item-leave-active {
  transition: opacity 0.3s, transform 0.3s;
  transform-origin: left center;
}

.list-item-enter,
.list-item-leave-to {
  opacity: 0;
  transform: scale(0.5);
}

.list-item-leave-active {
  position: absolute;
}

.list-item-move {
  transition: transform .4s linear .1s;
}


/* ---------------------------------- LIST ---------------------------------- */
.list-enter-active,
.list-leave-active,
.list-move {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.list-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.list-leave-active {
  position: absolute;
}

.list-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}
