@import 'mixins';
@import 'variables';
@import 'contador';

/* --------------------------------- GENERAL -------------------------------- */
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5f5f5;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.main {
  width: 100%;
}


/* --------------------------------- HEADER --------------------------------- */

.navbar-component {
  min-height: 64px;
  display: flex;
  align-items: center;
  background-color: $white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);

  .navbar {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;

    .filtros {
      display: block;
    }

    .logo-container {
      .logo {
        width: 30px;
      }
    }

    .navbar-collapse {
      width: calc(100% - 70px);
      justify-content: space-between;
      display: flex;
      flex-flow: row wrap;

      @include collapseAnimate;
      overflow: hidden;


      @media (max-width: $md) {
        width: 100%;
        height: 0;

      }
    }

    #navbar-header {
      @media (max-width: $md) {
        cursor: pointer;
        z-index: 13;
      }
    }

    @media (max-width: $md) {

      .logo-container {
        width: 100%;

        @media (min-width: $md) {
          display: flex;
          place-content: space-between;

        }
      }

    }

  }

  // navbar-component
  @media (min-width: $md) {
    height: 70px;
  }


}

.logo-container {

  @media (max-width: $md) {
    display: flex;
    place-content: space-between;

  }
}

.operador-filtro {
  position: relative;
  top: 9px;
  margin-right: 2px;
  font-size: 30px;
}

/* ------------------------------ COLLAPSE NAV ------------------------------ */

#collapse_nav {
  display: none;

  &:checked {

    ~.navbar-collapse {
      height: 261px;
    }

    ~#navbar-header .logo-container {
      .iconPlus {
        @include transformRotate;
      }

      .minus {
        @include transformRotate;
      }

    }
  }
}


.iconPlus {
  @include collapseAnimate;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;

  .plus {
    display: block;
    width: 3px;
    height: 21px;
    margin: 0 auto;
    background: $primary;
  }

  .minus {
    @include collapseAnimate;
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 3px;
    top: 9px;
    background: $primary;
  }
}

/* --------------------------------- FOOTER --------------------------------- */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $primary;
  color: $white;

  .footer-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;

    .form-group label {
      color: $white;
    }

    .logo-nuxt {
      color: $white;
    }

    @media (max-width: $md) {
      flex-flow: column-reverse;
      margin-bottom: 15px;
    }
  }

}

/* ---------------------------------- MODAL --------------------------------- */
.vm--modal {
  .btn-close {
    width: 13px;
    position: absolute;
    right: 0;
    color: $grey;
    font-size: 16px;
    margin: 10px 12px;
    cursor: pointer;
  }
}

.modal-content {
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    margin-bottom: 20px;
  }

  .btn-container {
    text-align: center;
    min-width: 270px;
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;

    @media (max-width: $md) {

      .btn {
        margin-bottom: 10px;
      }
    }

    @media (max-width: $x-sm) {
      min-width: auto;
      justify-content: center;

    }
  }
}

/* ------------------------------- HEADER NAV ------------------------------- */

.header-nav {
  min-height: 50px;
  margin: 15px;
  display: flex;
  place-content: space-between;
}
